.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center;

  font: 100% sans-serif;
  color: #f8f8ff;
}

#cuadrado {
  border: 1px solid #f8f8ff;
  width: 800px;
  height: 1000px;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;

  display: flex;
  text-align: center;

  justify-content: center;
}

.searchBar,
.searchBar:focus {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #f8f8ff;

  font: 100% sans-serif;
  color: #f8f8ff;
}

.cuadrado-de-opciones,
.cuadrado-de-opciones:focus {
  box-shadow: none;

  border: 1px solid #f8f8ff;
  width: 200px;
  margin: none;
  padding: 10px;

  font: 100% sans-serif;
  color: #f8f8ff;
}

#linea {
  width: 700px;
  height: 1px;
  background: #f8f8ff;
  margin-top: 40px;
}

.h1 {
  font: 100% sans-serif;
  color: #f8f8ff;
}

#margenesa {
  margin-bottom: 50px;

  margin-left: 50px;

  width: 200px;
}

#margenesb {
  margin-bottom: 50px;
  margin-left: 0px;
  margin-right: 50px;

  width: 200px;
}
