/*FormControls*/

.form-control,
.form-control:focus {
  background-color: transparent;
  box-shadow: none;
  border-color: #f8f8ff;
  width: 500px;
  margin: 20px;

  font: 100% sans-serif;
  color: #f8f8ff;
}
