/* Barra */

.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  
  .logo {

    background: url("imagenes/logoNegro.png");
    background-size: 100% 100%;
    border: none;
    width: 60px;
    height: 60px;
    position: relative;
    right: 650px;
    bottom: 10px;
   
}


  .searchBar {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1b131f;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    transition: border-color #fff .15s ease-in-out,box-shadow #fff .15s ease-in-out;

    position: relative;
    right: 600px;
}



  .form-control-dark {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: var(--bs-gray);
  }
  .form-control-dark:focus {
    color: #fff;
    background-color: var(--bs-dark);
    border-color: #fff;
    box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .25);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }
  
  .text-small {
    font-size: 85%;
  }
  
  .dropdown-toggle {
    outline: 0;
  }


  /* Usuario */

  .header{

    text-align: center;
    height: 400px;
    width: 1000px;
    border: 1px solid #F8F8FF;
    border-top: none;
    padding:120px;
    position: relative;
    left: 300px;
  }


  .foto{
      width: 200px;
      height: 200px;
      border-radius: 50%;
      position: relative;
      top: 100px;
  }

  .userName{

    font: 50% sans-serif;

    margin-top: 14px;
    font-size: 20px;
    color: #F8F8FF;
    position: relative;
    top: 100px;


  }

  .linea {

    width: 1000px;
    height: 1px; 
    background: #F8F8FF;   
    position: relative;
    top: 100px;
    right: 150px;
}

.opcionesDePerfil{

    list-style: none;
    text-align: center;
    padding: 0;
    position: relative;
    top: 70px;
}

.opcionesDePerfil li{

    display: inline-block;
    margin-left: 30px;
    font: 50% sans-serif;  
    font-size: 20px;
}

.caja { 
  font: 50% sans-serif;
  color: #F8F8FF; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: left; 
  
 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding-left: 95px;
  padding-right: 95px;
  padding-top: 40px;
  border-radius: 10px 10px 10px 10px; 
  -moz-border-radius: 10px 10px 10px 10px; 
  -webkit-border-radius: 10px 10px 10px 10px; 
  border: 1px solid #F8F8FF;
  width: 1000px;
  height: 200px;
  min-height: 3rem;
  
  position: relative;
  top: 200px;
  left: 305px;

}

.caja:empty::before{
  position: absolute;
  content: "Que deseas agregar a tu muro hoy?";
  color: #F8F8FF;
  
 
}



.description {
  display: none;
  position: relative;
  top: 10px;
}

.lineaDelMuroDeTexto {

  width: 800px;
  height: 1px; 
  background: #F8F8FF;   
  position: relative;
  top: 100px;
  left: 370px;
}

.agregar{

  font: 50% sans-serif;
  color: #F8F8FF; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: center; 
 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: .5rem; 
  background-color: #7B68EE;
  border-radius: 10px 10px 10px 10px; 
  -moz-border-radius: 10px 10px 10px 10px; 
  -webkit-border-radius: 10px 10px 10px 10px; 

  border: 1px solid #F8F8FF;
  width: 100px;
  height: 50px;

  position: relative;
  top: 100px;
  left: 1050px;

}



.cajaMuro { 

  font: 50% sans-serif;
  color: #F8F8FF; 
  font-size: 18px; 
  font-weight: 400; 
  text-align: left; 
  background: none; 
  margin: 0 0 25px; 
  overflow: hidden; 
  padding: .5rem; 
  border-radius: 10px 10px 10px 10px; 
  -moz-border-radius: 10px 10px 10px 10px; 
  -webkit-border-radius: 10px 10px 10px 10px; 
  border: 1px solid #F8F8FF;
  width: 1000px;
  height: 1000px;
  min-height: 3rem;
  


  position: relative;
  top: 100px;
  left: 270px;

}



