.form-control,
.form-control:focus {
  background-color: transparent;
  box-shadow: none;
  border-color: #f8f8ff;
  width: 400px;
  margin-top: 30px;

  color: #f8f8ff;
}

.btn-outline-light {
  margin-top: 20px;
}
