/* Barra */

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.logo {
  background: url("/Trabajo-Final/Views/assets/img/logoNegro.png");
  background-size: 100% 100%;
  border: none;
  width: 60px;
  height: 60px;
  position: relative;
  right: 650px;
  bottom: 10px;
}

.searchBar {
  background-color: transparent;
  box-shadow: none;
  border: 1px solid #f8f8ff;

  font: 100% sans-serif;
  color: #f8f8ff;
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/* Usuario */

.header {
  text-align: center;
  height: 400px;
  width: 1000px;
  border: 1px solid #f8f8ff;
  border-top: none;
  padding: 120px;
  position: relative;
  left: 300px;
}

.foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.content-wrapper {
  border: 1px solid #f8f8ff;
  padding: 50px;
}

.profile-wrapper {
  text-align: center;
  margin-top: -150px;
}

.cover-image {
  border: 1px solid #f8f8ff;
  width: 100%;
  height: 400px;
}

.userName {
  font: 50% sans-serif;

  margin-top: 14px;
  font-size: 40px;
  color: #f8f8ff;
}

.linea1 {
  width: 1300px;
  height: 1px;
  background: #f8f8ff;
  margin-right: 450px;
  position: relative;
  right: 40px;
}

.opcionesDePerfil {
  list-style: none;
  text-align: center;
  padding: 0;
  position: relative;
  top: 70px;
}

.opcionesDePerfil li {
  display: inline-block;
  margin-left: 30px;
  font: 50% sans-serif;
  font-size: 20px;
}

.description {
  display: none;
  position: relative;
  top: 10px;
}

.button-agregar {
  justify-content: flex-end;

  background-color: transparent;
  border: 1px solid #f8f8ff;
  padding: 10px;

  font: 100% sans-serif;
  color: #f8f8ff;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.caja_de_texto,
.caja_de_texto:focus {
  background-color: transparent;
  box-shadow: none;
  border-color: #f8f8ff;
  padding: 20px;
  width: 1300px;

  font: 100% sans-serif;
  color: #f8f8ff;
}

/* Perfil de Administrador */

.cajaMuroAdmin {
  font: 50% sans-serif;
  color: #f8f8ff;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  background: none;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 0.5rem;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #f8f8ff;
  width: 1000px;
  height: 1000px;
  min-height: 3rem;

  position: relative;
  top: 200px;
  left: 270px;
}

.opcionesDePerfilAdmin {
  list-style: none;
  text-align: center;
  padding: 0;
  position: relative;
  top: 70px;
  right: 22px;
}

.opcionesDePerfilAdmin li {
  display: inline-block;
  margin-left: 30px;
  font: 50% sans-serif;
  font-size: 20px;
}

/*Empresa*/

.cuadradoEmpresa {
  background-color: #f8f8ff;
  width: 100%;
  height: 800px;
  padding: 50px;
  margin-top: 450px;

  display: flex;
  text-align: center;

  justify-content: center;
}

.cuadrado2 {
  background-color: #ffffffaf;
  width: 100%;
  height: 400px;
  padding: 50px;

  display: flex;
  text-align: center;

  justify-content: center;
}

.cuadrado3 {
  background-color: #212529;
  width: 100%;
  height: 400px;
  padding: 50px;
}

p {
  margin-top: 30px;
  margin-bottom: 1rem;

  font: 130% sans-serif;
}

#company-botones {
  margin-top: 8px;
}

.imagenGlobant {
  width: 600px;
  height: 400px;

  margin-top: 70px;
}

h2 {
  margin-top: 100px;
  margin-left: 50px;
  text-align: left;
}

.texto-imagen {
  text-align: left;
  margin-left: 50px;
  font: 130% sans-serif;
}

.logoCoca {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;

  width: 350px;
  height: 114px;
}
.logoFOX {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;

  width: 192px;
  height: 81px;
}
.logoDisney {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;

  width: 204px;
  height: 110px;
}
.logoNational {
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;

  width: 350px;
  height: 102px;
}

h4 {
  font: 130% sans-serif;
  color: #f8f8ff;
}
.contactos {
  font: 130% sans-serif;
  color: #f8f8ff;
}

.linea-chiquita {
  margin-top: 10px;
  width: 200px;
  height: 1px;
  background: #f8f8ff;
}

.searchBar {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #1b131f;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color #fff 0.15s ease-in-out,
    box-shadow #fff 0.15s ease-in-out;

  position: relative;
  right: 600px;
}

.form-control-dark {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: var(--bs-gray);
}
.form-control-dark:focus {
  color: #fff;
  background-color: var(--bs-dark);
  border-color: #fff;
  box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
}

.bi {
  vertical-align: -0.125em;
  fill: currentColor;
}

.text-small {
  font-size: 85%;
}

.dropdown-toggle {
  outline: 0;
}

/* Usuario */

.header {
  text-align: center;
  height: 400px;
  width: 1000px;
  border: 1px solid #f8f8ff;
  border-top: none;
  padding: 120px;
  position: relative;
  left: 300px;
}

.foto {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.content-wrapper {
  border: 1px solid #f8f8ff;
  padding: 50px;
}

.profile-wrapper {
  text-align: center;
  margin-top: -150px;
}

.cover-image {
  border: 1px solid #f8f8ff;
  width: 100%;
  height: 400px;
}

.userName {
  font: 50% sans-serif;

  margin-top: 14px;
  font-size: 40px;
  color: #f8f8ff;
}

#activo {
  font: 30% sans-serif;
  text-align: center;

  margin-top: 14px;
  margin-bottom: 30px;
  font-size: 20px;
  color: #f8f8ff;
}

.linea {
  width: 1300px;
  height: 1px;
  background: #f8f8ff;
}

.opcionesDePerfil {
  list-style: none;
  text-align: center;
  padding: 0;
  position: relative;
  top: 70px;
}

.opcionesDePerfil li {
  display: inline-block;
  margin-left: 30px;
  font: 50% sans-serif;
  font-size: 20px;
}

.description {
  display: none;
  position: relative;
  top: 10px;
}

.button-agregar {
  justify-content: flex-end;

  background-color: transparent;
  border: 1px solid #f8f8ff;
  padding: 10px;

  font: 100% sans-serif;
  color: #f8f8ff;

  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
}

.caja_de_texto,
.caja_de_texto:focus {
  background-color: transparent;
  box-shadow: none;
  border-color: #f8f8ff;
  padding: 20px;
  width: 1300px;

  font: 100% sans-serif;
  color: #f8f8ff;
}

/* Perfil de Administrador */

.cajaMuroAdmin {
  font: 50% sans-serif;
  color: #f8f8ff;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  background: none;
  margin: 0 0 25px;
  overflow: hidden;
  padding: 0.5rem;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 1px solid #f8f8ff;
  width: 1000px;
  height: 1000px;
  min-height: 3rem;

  position: relative;
  top: 200px;
  left: 270px;
}

.opcionesDePerfilAdmin {
  list-style: none;
  text-align: center;
  padding: 0;
  position: relative;
  top: 70px;
  right: 22px;
}

.opcionesDePerfilAdmin li {
  display: inline-block;
  margin-left: 30px;
  font: 50% sans-serif;
  font-size: 20px;
}
